In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('data.csv')

In [12]:
df

      id    x     y  reg
0   hadi  101   102    1
1  akbar  600  1000    2
2  mamat  700  1100    2

In [20]:
df.loc[df.reg == 2]

      id    x     y  reg
1  akbar  600  1000    2
2  mamat  700  1100    2

In [27]:
point = df.loc[df.reg == 2]
for i in range(point.shape[0]):
    print(point.iloc[int(i),0],(point.iloc[int(i),1],point.iloc[int(i),2]))
# all_dist.sort(key=lambda x: x[3])

# update = jumlah[all_dist[0][0]] + 1 
# jumlah[all_dist[0][0]] = update

akbar (600, 1000)
mamat (700, 1100)